.form-container{
    margin: 4rem 6rem;
    color: #f9660bee;
    text-align: center
}
.form-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.form-container input{
    height: 3rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid #2a2a2a;
}
.form-container textarea{
    padding:1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid #2a2a2a;
}
.form-container button{
    display: inline;
}

@media  screen and (max-width: 900px){
    .form-container{
        margin: 4rem 2rem;
    }
    .form-container form{
        padding-top: 2rem;
        width: 90%;
    }
}
    
   