

     /* New ------------------------------------*/
.popular{
    margin: 4rem 6rem;
}

.popular h1{
    font-size:30px;

}
.red-heading {
    color: #FF3F3F;
  }
  
.popular-products{
    display: inline-block ;
    overflow: hidden;
    
    margin-top: 1.5rem;
}


.pro-img{
    position: relative;
    margin: 1rem;
    width: 160px;
    height: 160px;
    display: inline-block;
    justify-content: space-between;
    z-index: -99;
    border-radius: 50%;

}
.pro-img img{
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 50%;

    /* box-shadow: -1px 1px 10px 0px rgb(0, 0, 0); */

}

.pro-text{
    text-align: center;
    font-size: 1.1rem;

}


@media screen and (max-width: 950px){
    .popular{
        margin: 3rem 2rem;
    }
    .popular-products{
        display: inline-block;
        margin-top: 2.5rem;
      
        
    }
  
    .pro-text{
        width: 20%;
        
    }
    .pro-img{
        width: 50%;
        margin: 0rem;

       
    }
    .pro-img img{
        height: 50%;
    }
}