.App {
    display: flex;
    flex-wrap: wrap;
  }
  
  .content-container {
    flex-grow: 1;
  }
  
  @media only screen and (min-width: 768px) {
    .App {
      flex-wrap: nowrap;
    }
  
    .content-container {
      flex-basis: 70%;
      max-width: 90%;
      margin-top: 20px;
      margin-right: 20px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .content-container {
      flex-basis: 100%;
      max-width: 100%;
      margin-top: 10px;
      margin-right: 20px;
    }
  }
  